/*See more see less*/
a.morelink {
  text-decoration:none !important;
  outline: none !important;
  color: rgba(255, 255, 255, 0.5) !important;
  font-size: 13px !important;
}
.morecontent span {
  display: none;
}
/*---------*/
.cart {
  margin: 30px 20px 50px 20px;
}

.cart .breadcrumb .bx {
  font-size: 20px !important;
  margin: 5px 15px 0 0;
}

.cart > .cart__title-wrapper {
  display: flex;
  justify-content: space-between;
  /*background: #fff0b3;*/

}

.cart__title {
  font-family: 'Montserrat', sans-serif !important;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.cart__remove {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: underline;
  font-size: 13px;
}

.cart__item {
  align-self: center;
  margin-bottom: 40px;
}

.cart__item-detail {
  border-bottom: 1px solid rgba(255, 217, 100, 0.3);
}

.cart__item-title {
  font-size: 11px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.cart__product-title {
  font-size: 8px;
  margin-bottom: 12px;
}

.cart__product-desc {
  font-size: 8px;
  color: rgba(255, 255, 255, 0.5);
}

.cart__item-price, .cart__item-total {
  font-weight: bold;
  font-size: 10px;
}
.count__wrapper {
  display: flex;
  gap: 5px;
}
.count__wrapper-decrease, .count__wrapper-increase {
  border: 1px solid #fff;
  display: flex;
  align-items: center;
}

.count__wrapper-decrease > i, .count__wrapper-increase > i {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.count__wrapper-count > .form-control {
  width: 100% !important;
  background: transparent;
  border: 1px solid #fff !important;
  text-align: center !important;
  padding: 0;
  font-size: 14px;
}

.count__wrapper-count > .form-control:focus {
  border-radius: 0 !important;
}

.total__item {
  display: flex;
  justify-content: space-between;
}

.total__item-name {
  width: 70%;
  font-size: 12px;
}

.total__item-price {
  font-size: 12px;
}

.total__items > hr {
  margin-top: 30px;
  color: var(--clr-gold-0);
}

.cart__total {
  display: flex;
  justify-content: space-between;
}

.cart__total .total__item-name {
  font-weight: bold;
  font-size: 12px;
}

.cart__total .total__item-price {
  font-size: 14px;
}

.checkout__wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.checkout__info {
  margin-bottom: 7px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  .cart {
    margin: 40px 40px 70px 40px;
  }
  .cart__title {
    font-size: 18px;
    letter-spacing: 3px;
  }
  .cart__remove {
    font-size: 15px;
  }
  .cart__item {
    margin-bottom: 60px;
  }
  .cart__item-title {
    font-size: 16px;
  }
  .cart__product-title {
    font-size: 12px;
  }

  .cart__product-desc {
    font-size: 12px;
  }
  .cart__item-price, .cart__item-total {
    font-size: 14px;
  }
  .count__wrapper {
    gap: 10px;
  }
  .count__wrapper-decrease > i, .count__wrapper-increase > i {
    margin-inline: 5px;
    font-size: 18px;
  }
  .count__wrapper-count > .form-control {
    font-size: 16px;
  }
  .total__item-name {
    font-size: 14px;
  }

  .total__item-price {
    font-size: 16px;
  }
  .cart__total .total__item-name {
    font-size: 14px;
  }
  .cart__total .total__item-price {
    font-size: 16px;
  }
  .checkout__wrapper {
    margin-top: 50px;
  }
}

@media screen and (min-width: 992px) {
  .cart {
    margin: 40px 60px 60px 60px;
  }
  .cart__title {
    font-size: 20px;
    letter-spacing: 3px;
  }
  .cart__remove {
    font-size: 16px;
  }
  .cart__item {
    margin-bottom: 70px;
  }
  .cart__item-detail {
    border-bottom: none;
    border-right: 1px solid rgba(255, 217, 100, 0.3);
  }
  .cart__item-title {
    font-size: 18px;
  }
  .cart__product-title {
    font-size: 16px;
  }
  .cart__product-desc {
    font-size: 16px;
  }
  .cart__item-price, .cart__item-total {
    font-size: 16px;
  }
  .count__wrapper {
    gap: 15px;
  }
  .count__wrapper-decrease > i, .count__wrapper-increase > i {
    margin-inline: 8px;
    font-size: 20px;
  }
  .count__wrapper-count > .form-control {
    font-size: 18px;
  }
  .total__item-name {
    font-size: 14px;
  }
  .total__item-price {
    font-size: 16px;
  }
  .cart__total .total__item-name {
    font-size: 14px;
  }
  .cart__total .total__item-price {
    font-size: 16px;
  }
  .checkout__wrapper {
    margin-top: 80px;
    display: flex;
    justify-content: end;
    text-align: center;
  }
}
