/*Styling Selectbox*/

.cus-select {
  margin-block-end: 2.5rem;
}

.custom {
  margin-inline: 5.5625rem;
}


.custom > button {
  background-color: var(--clr-gold);
  border-radius: 0;
  transition: .5s;
}

.custom > button:hover {
  background-color: var(--clr-gold-0) !important;
  color: var(--clr-navy) !important;

}

/*!*select*!

.customize-fabric .select2-selection__rendered {
  padding-inline-start: 0 !important;
}

!*Selected item Box*!
.customize-fabric .select2-container--default .select2-selection--single {
  border: 1px solid var(--clr-white) !important;
  border-radius: 0;
  background-color: transparent !important;
  width: 100%;
  height: 45px;
}

!*Selected item text*!
.customize-fabric .select2-container .select2-selection--single .select2-selection__rendered {
  display: flex;
  align-items: center;
  height: 100%;
  padding-inline-start: 20px !important;
}

!*Selected item arrow*!
.customize-fabric .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 100% !important;
  padding-inline: 20px !important;
}
.select2-results__option {
  padding-inline-start: 20px !important;
}*/

/*dropdown*/

.customize-fabric .dropdown-toggle {
  border: 1px solid white;
  border-radius: 0;
  padding-block: 10px;
  padding-inline: 15px;
  background-color: transparent;
}

.customize-fabric .dropdown-toggle:hover {
  background-color: transparent;
  cursor: pointer;
  border: 1px solid white;
}

.customize-fabric .dropdown-menu {
  margin-top: 5px !important;
  border: 1px solid white !important;
  border-radius: 0;
  background-color: #0C0F20;
  z-index: 9999;
}

.customize-fabric .dropdown-item {
  color: var(--clr-white);
  font-size: var(--fs-bdy-1);
  padding-inline-start: 15px;
  height: 40px;
  line-height: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.customize-fabric .dropdown-item:hover {
  color: var(--clr-white);
  background-color: var(--bg-scondary);
}

#fabric-filter {
  margin: -13px !important;
}

.fabric-filter button {
  padding-block: 7px;
  padding-inline: 15px;
}

.fabric-filter-text {
  font-size: 1.8rem !important;
  text-align: center !important;
}

.customize-fabric .form-check-label {
  cursor: pointer;
  width: 70%;
}

.customize-fabric .form-check-input[type=checkbox] {
  background-color: transparent;
  border: 1px solid white !important;
}

.form-check-input:checked[type=checkbox] {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' style='fill: rgba(0, 0, 0, 1);transform: ;msFilter:;'%3e%3cpath d='m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z'%3e%3c/path%3e%3c/svg%3e");
  background-color: var(--clr-gold-0);
  border: 0 !important;
}

/*.customize-fabric input[type='radio'] {
  width: 40px;
  height: 40px;
}*/

.box {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #D9D9D9;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--clr-navy);
  letter-spacing: 0 !important;
  line-height: 0 !important;
  margin-block-end: 20px;
  font-size: 13px;
}

.reset > a:hover {
  color: inherit;
}

.reset:hover {
  background-color: var(--clr-gold-0) !important;
}

/*You can find for additional sec in fabric.css */
.img-container > img {
  height: 220px !important;
}

.box:hover {
  color: var(--clr-navy);
}

.box-select {
  background-color: var(--clr-gold-0);
}


.dropdown-toggle::after,
.dropup .dropdown-toggle::after {
  content: "";
  display: none;
  border: none;
}

.dropdown-toggle {
  line-height: normal !important;
}

/*.type {
  width: 70%;
}*/

.select2-container--default .select2-selection--single {
  height: 30px !important;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5) !important;
  border-radius: 0;
  display: flex;
  align-items: center;
}

/*.select2-container--default .select2-selection--single {
  height: 45px;
  border: 2px solid rgba(255, 255, 255, 0.7) !important;
  border-radius: 5px;
  display: flex;
  align-items: center;
}*/

/*.select2-container--default .select2-selection--single .select2-selection__rendered {
  margin-inline-end: 50px !important;
}*/

.select2-container--default .select2-selection--single .select2-selection__arrow {
  margin-right: 10px;
  border-style: solid;
  border-width: 2px 2px 0 0;
  display: inline-block;
  height: 0.45em !important;

  top: 10px;
  transform: rotate(-225deg);
  width: 0.45em;
}

.select2-selection__arrow b {
  border: none !important;
}

.indicator > div {
  width: 100%;
  border: 1px solid var(--clr-white);
}

.indicator-select {
  border: 1px solid var(--clr-gold-0) !important;
}

/*radio box*/
.radio-group {
  margin-bottom: 30px !important;
  position: relative;
  transition: all 1s ease;
  height: auto;
}

.radio-group input[type="radio"] {
  position: absolute;
  bottom: 60px;
  right: 25px;
  width: 22px;
  height: 22px;
  display: none;
  z-index: 99;
}

.radio-group.fabric-group input[type="radio"] {
  position: absolute;
  bottom: 195px;
  right: 15px;
  width: 22px;
  height: 22px;
  display: none;
  z-index: 99;
}

.radio-group .radio-label {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: scale .3s linear;
}

.radio-label > .cus2-title {
  font-size: 18px !important;
}

.radio-label > img {
  width: 100%;
  /*height: 300px;*/
  /*object-fit: cover;*/
}

.radio-group input[type=radio]:checked {
  display: block;
}

.radio-group input[type=radio]:checked + label > img {
  background-color: orange;
  color: black;
  outline: 3px solid var(--clr-gold);
}

.radio-group input[type=radio]:checked + label {
  scale: 1.1;
}

/*Cus 2*/
/*.cus-2 .swiper {
  width: 100%;
  text-align: center;
}

.cus-2 .swiper-slide {
  width: 320px !important;
  !*height: 630px;*!
  margin-inline: 60px;
}*/

/*Customize fitting*/
.fit-img-container {
  width: 100%;
  height: auto;
}

.fit-img-container > img {
  width: 100%;
  height: 265px;
  object-fit: cover;
}

.jacket .fit-img-container > img {
  height: 370px;
}

.title {
  font-size: 18px !important;
  text-transform: uppercase;
}

/*Payment radio*/
.payment-label {
  width: 100px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card-info input {
  height: 45px !important;
  border-radius: 5px !important;
  border: 1px solid white !important;
}

.small-line {
  width: 200px;
  border: 1px solid var(--clr-gold);
  margin-inline: auto;
  margin-block: 70px;
}

/*.measurement > div > .form-control{
  width: 75% !important;
}*/

/*.measurement > div .with-select{
  width: 75% !important;
}*/

/*.measurement > div .with-select > input{
  width: 50% !important;
}*/

/*.measurement > div .with-select > select{
  width: 25% !important;
}*/

.unit {
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.inp-grp {
  width: 120px;
}

.nav-pills .nav-link.active {
  color: var(--clr-white) !important;
  padding: 0 !important;
  text-decoration: none !important;
  border-radius: 0;

}

.nav-pills .nav-link.active:after {
  content: '';
  display: block;
  position: relative;
  width: 30%;
  border: 1px solid var(--clr-gold-0);
  /*margin-top: 8px;*/
}

.nav-link {
  padding: 0;
}

.nav-link.active {
  /*font-size: 18px;*/
}

.cus2-price {
  font-size: 16px !important;
}

/*cus_3 select*/
.upload .select2-selection__rendered {
  text-transform: uppercase;
  letter-spacing: unset;
}

.upload .select2-container--default .select2-selection--single {
  border: 1px solid rgba(255, 255, 255, 0.5) !important;
  border-radius: 5px;
  padding: 20px 10px;
  width: 230px !important;
}

.upload .select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 16px;
  right: 0;
  color: var(--clr-gold-0);
}

/*cus_3 image*/

.cus-img-res {
  width: 100%;
  height: 410px;
  object-fit: cover;
  object-position: bottom;
}

.tab-pane .g-5, .gx-5 {
  --bs-gutter-x: 7em;
}

.tab-pane .g-5, .gy-5 {
  --bs-gutter-y: 4em;
}

.pill-menu-cus-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pill-menu-cus-link.active > span,
.pill-menu-cus-link.active > .bx-plus {
  color: var(--clr-gold) !important;
}

.pill-menu-cus-link:hover > * {
  color: var(--clr-gold) !important;
}


.sticky-md-top.sticky-height {
  height: 100vh;
}

.alert-width {
  width: 25%;
}
.content {
  display: none;
}

/*  cus-3 modal*/
#step3 .modal-body h6 {
  line-height: 1.5;
}

#step3 .modal-body > span {
  font-size: 13px;
}

/*For step 2 carousel owl*/
.slider {
  position: relative;
}


.slider .owl-item.active.center .slider-card {
  transform: scale(1.15);
  opacity: 1;
}

.slider-card {
  margin: 50px 15px 90px 15px;
  border-radius: 5px;
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.3s ;
}

.slider-card img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  /*height: 230px;*/
  /*object-fit: cover;*/
}

.slider-card .form-check {
  position: relative;
}

.slider-card .bx-check{
  /*width: 20px;
  height: 20px;*/
  color: #000;
  font-size: 23px !important;
}

.slider-card .selected {
  position: absolute;
  bottom: 15px;
  right: 18px;
  width: 25px;
  height: 25px;
  background-color: var(--clr-gold-0);
  /*border: none;*/
  border-radius: 50%;
  display: none;
}

.slider .owl-item.active.center .selected {
  display: block;
}


.dropdown-item input[type=radio] {
  border-radius: .25rem !important;
}

/*.cus-4-des {
  display: -webkit-box;
  -webkit-line-clamp: 1 ;
  -webkit-box-orient: vertical;
}*/

.text-trun {
  max-width: 100%;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  /* autoprefixer: on */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box !important;
  -webkit-line-clamp: 3;
}

.unit-label {
  position: relative;
  top: -3px;
  margin-inline-end: 5px;
}

/*For See more See less*/
/*a.morelink {
  text-decoration:none !important;
  outline: none !important;
  color: rgba(255, 255, 255, 0.5) !important;
  font-size: 13px !important;
}
.morecontent span {
  display: none;
}*/

/*cus 5 select*/
.type, .htype {
  background-color: #0C0F20 !important;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  height: 100% !important;
}

.country {
  background-color: #0C0F20 !important;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  height: 100% !important;
  padding-block: 10px;
  padding-inline: 8px;
}

.type:focus, .htype:focus, .country:focus {
  outline: none;
}

.age--year {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}
.nth {
  display: flex;
  justify-content: center;
  align-items: center;
}

.side-filter {
  padding: 20px 15px;
  background: #080A16;
  overflow-y: auto;
}

.fil-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fil-header .header-title {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  letter-spacing: 1px;
  font-size: 24px;
}

.fil-content {
  margin-bottom: 25px;
}

.fil-content .content-title {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 15px;
  font-size: 18px;
}

.content-options .content-option {
  margin-bottom: 5px;
}

.content-options .content-option input[type="checkbox"],
.content-options .content-option input[type="radio"] {
  margin-top: 7px;
  margin-right: 10px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.8);
}

.content-options .content-option input[type="checkbox"]:checked,
.content-options .content-option input[type="radio"]:checked {
  margin-top: 7px;
  margin-right: 10px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: var(--clr-gold-0);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' style='fill: rgba(0, 0, 0, 1);transform: ;msFilter:;'%3E%3Cpath d='m10 15.586-3.293-3.293-1.414 1.414L10 18.414l9.707-9.707-1.414-1.414z'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-size: cover;
}

.content-options label {
  text-transform: capitalize;
}

/*Package*/
.content-options.packages {
  display: flex;
  justify-content: space-between;
}

.content-option .package-label {
  border: 1px solid rgba(255, 255, 255, 0.8);
  padding: 5px 15px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 11px;
}

.price-check:checked + .package-label {
  border: 1px solid var(--clr-gold-0);
  color: var(--clr-gold-0);
}

/*Color and Pattern*/
.content-options#color,
.content-options#pattern {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /*justify-content: space-between;*/
  /*flex-wrap: wrap;*/
}

/*footer of filter*/
.fil-footer {
  margin-block: 35px 20px;
}

.foot-action-btns {
  display: flex;
  justify-content: space-evenly;
}

.action-btn {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.8);
  padding: 3px 10px;
}

.action-btn > a {
  color: white;
}

.action-btn.apply {
  border: 1px solid var(--clr-gold);
}

.action-btn.apply > a {
  color: var(--clr-gold);
}

.action-btn.apply:hover {
  border: none;
  background: var(--clr-gold-0);
  color: #000;
}

.action-btn.apply:hover > a{
  color: #000;
}

/*See more See less*/
#fabric_type.content-options.collapsed > .content-option:nth-child(n+3),
#color.content-options.collapsed > .content-option:nth-child(n+5),
#pattern.content-options.collapsed > .content-option:nth-child(n+5) {
  display: none;
}


.content-options.collapsed > .list-toggle > p.collapse,
.content-options.expanded > .list-toggle > p.expand {
  display: none;
}

.list-toggle {
  cursor: pointer;
}

.list-toggle p {
  color: rgba(255, 255, 255, 0.8);
}

.list-toggle .collapse:not(.show) {
  display: block;
}

/*Filter Btn*/
.filter-btn {
  display: flex;
  align-items: center;
  background: transparent;
  border: 1px solid #fff;
  padding: 5px 10px;
}

.filter-btn i {
  margin-inline-end: 10px;
  color: var(--clr-gold-0);
}

/*read more read less*/
.hide{
  display: none;
}

.read-more-btn {
  color: #ffffff90;
}

/*Swipe menu*/
/*Swiper*/
.menu-wrapper {
  min-height: 0;
  /*border: 1px solid #ddd;*/
  display: flex;
  overflow-x: auto;
}

.menu-wrapper::-webkit-scrollbar {
  width: 0;
}

.menu-wrapper .menu__item {
  margin-right: 30px;
  flex-shrink: 0;
}

.menu__item > button {
all: unset;
}

@media screen and (max-width: 480px) {
  .measurement > div {
    width: 100%;
  }

  .inp-grp {
    width: 80px;
  }

  .img-container > img {
    height: 100px !important;
  }

  .fabric-filter-text {
    font-size: 1.2rem !important;
    /*text-align: center !important;*/
  }

  .custom {
    margin-inline: 1.5625rem;
  }

  .sticky-md-top.sticky-height {
  height: 100%;
  margin-bottom: 40px;
}


  /*.type {*/
  /*  width: 100%;*/
  /*}*/

  .radio-group {
    margin-bottom: 15px !important;
    height: 100%;
  }

  .radio-label > img {
    /*height: 120px;*/
  }

  /*.cus-2 .swiper-slide {
    width: 120px !important;
    !*height: 630px;*!
    margin-inline: 10px;
  }*/

  .cus-2 .suite-package {
    margin: 0 !important;
  }

  .cus-2 .swiper-slide img {
    height: 150px;
  }

  .box {
    width: 60px;
    height: 60px;
    font-size: 10px;
  }


  .fit-img-container > img {
    height: 245px;
  }

  .jacket .fit-img-container > img {
    height: 265px;
  }

  /*.customize-fabric .dropdown-toggle {
    width: 100px !important;
  }*/
  .title {
    font-size: 16px !important;
  }

  .radio-group input[type="radio"] {
    bottom: 55px;
    right: 1px;
  }

  .small-line {
    width: 100px;
    margin-block: 40px;
  }

  .cus2-price {
    font-size: 10px !important;
  }

  .alert-width {
    width: 100%;
  }

  /*  cus-3 modal*/
  #step3 .modal-body h6 {
    line-height: 1.5;
  }

  #step3 .modal-footer > button,
  .modal-footer > button > span {
    font-size: 11px;
  }

  #step3 .modal-footer > button > i {
    font-size: 19px;
  }

  .upload .select2-container--default .select2-selection--single {
    width: 220px !important;
  }

  .upload .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 17px;
    right: 10px;
  }

  .top-margin {
    margin-top: 35px;
  }

  .cus-img-res {
    height: 200px;
  }

  .slider-card img {
    /*height: 150px;*/
  }

}

@media screen and (min-width: 481px) and (max-width: 1024px) {
  .radio-label > img {
    /*height: 160px;*/
  }

  .fit-img-container > img {
    height: 450px;
  }

  .radio-group {
    margin-bottom: 15px !important;
    height: 100%;
  }

  .radio-group input[type="radio"] {
    bottom: 65px;
    right: 15px;
  }

  .alert-width {
    width: 65%;
  }

  .upload .select2-container--default .select2-selection--single {
    width: 210px !important;
  }

  .upload .select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 17px;
    right: 10px;
  }

  .top-margin {
    margin-top: 100px;
  }

  .cus-img-res {
    height: 300px;
  }

    .sticky-md-top.sticky-height {
  height: 100%;
  margin-bottom: 40px;
}


}

@media screen and (min-width: 481px) {
  .measurement > div > .form-control {
    width: 75% !important;
  }

  .measurement > div .with-select {
    width: 75% !important;
  }

  .measurement > div .with-select > input {
    width: 50%;
  }

  .height-input > input {
    width: 15% !important;
  }


  /*.measurement > div .with-select > select {*/
  /*  width: 25% !important;*/
  /*}*/

}




